<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %>></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('partials/sidebar_nav.ejs') %>

  <main>
    <h1><%= title %></h1>
    <form action="" method="post">
      <div class="form_row">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form_control" value="<%= undefined === locals.item ? '' : item.name %>" required>
      </div>
      <div class="form_row">
        <label for="description">Description:</label>
        <textarea name="description" id="description" class="form_control" required><%= undefined === locals.item ? '' : item.description %></textarea>
      </div>
      <div class="form_row">
        <label for="category_id">Category:</label>
        <select name="category_id" id="category_id" class="form_control" required>
          <option value="">--Please select a category--</option>
          <% categories.forEach((category) => { %>
            <% if (locals.item) { %>
              <% if (item.category_id == category.id) { %>
                <option value="<%= category.id %>" selected><%= category.name %></option>
              <% } else { %>
                <option value="<%= category.id %>"><%= category.name %></option>
              <% } %>
            <% } else { %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% } %>
          <% }) %>
        </select>
      </div>
      <div class="form_row">
        <label for="price">Price:</label>
        <input type="number" name="price" id="price" class="form_control" step="0.01" value="<%= undefined === locals.item ? '' : item.price %>" required>
      </div>
      <div class="form_row">
        <label for="number_in_stock">Number in stock:</label>
        <input type="number" name="number_in_stock" id="number_in_stock" class="form_control" value="<%= undefined === locals.item ? '' : item.number_in_stock %>" required>
      </div>
      <button type="submit">Submit</button>
    </form>

    <%- include('partials/errors.ejs'); %>
  </main>
</body>
</html>